.navBar-container{
  background-color: rgb(217, 222, 245);
  /* margin-bottom: 1%; */
  /* border-radius: 60px; */
}
.leeft-margin-search{
  margin-left: 25vw;
  width: 20vw;
}
.each-navbar{
  /* box-shadow:0px 2px 2px rgba(250, 175, 175, 0.2); */
  /* border-radius: 20px; */
  margin-right: 8%;
  font-weight: bold;
}
.each-navbar:hover{
  background-color: rgb(208, 210, 251)
}
.for-the-dot {
  font-size: 30px;
  display: block;
  font-weight: 800;
  color: #3872bd;
}
.about-us{
  width: 150px;
  margin-left: -4%;
}
.header-logo:hover{
  cursor: pointer;
}
